:root {
  --bg-color: #fffffe;
  --headline-color: #2b2c34;
  --paragraph-color: #2b2c34;
  --button-color: #6246ea;
  --button-text-color: #fffffe;
  --stroke-color: #2b2c34;
  --main-color: #fffffe;
  --highlight-color: #6246ea;
  --secondary-color: #d1d1e9;
  --tertiary-color: #00ebc7;
  --error-color: #ff5470;
  --bottom-navigation-height: 64px;
}

body,
label,
h1,
h2,
h3,
h4,
h5,
label {
  color: var(--paragraph-color);
}

label {
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-spin infinite 1s linear;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: var(--error-color);
  padding: 1rem;
  color: var(--main-color);
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 16px;
}

.card {
  color: var(--paragraph-color);
  box-shadow: rgba(118, 143, 255, 0.1) 0px -8px 24px 0px;
  padding: 16px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.tag {
  padding: 0.5rem;
  background-color: var(--highlight-color);
  color: var(--main-color);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
}

button {
  padding: 0.8rem;
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

input,
select,
textarea {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 2px solid var(--highlight-color);
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--tertiary-color);
}

.active {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--highlight-color);
}